body {
    background-color: #333;
    color: white;
    padding: 1%;
}

.ingreso, .egreso, .busqueda {
    background-color: grey;
    border: 3px solid darkgreen;
    border-radius: 10px;
    padding: 1%;
}

.ingreso{
    border-color: green;
}
.egreso{
    border-color: red;
}
.busqueda {
    border-color: blue;
}