body {
    background-color: #333;
    color: white;
    padding: 1%;
}

.ingreso, .egreso, .busqueda {
    background-color: grey;
    border: 3px solid darkgreen;
    border-radius: 10px;
    padding: 1%;
}

.ingreso{
    border-color: green;
}
.egreso{
    border-color: red;
}
.busqueda {
    border-color: blue;
    font-size: medium;
}

h2, h5, h6 {
    font-size: small;
}

.display {
    border: 2px solid green;
    min-height: 100px;
}

.found {
    border: 2px solid blue;
    min-height: 100px;
}